!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Vulnerable Web-app
    /
      CSS
      \==================================================
    %link{:href => "/css/zerogrid.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/lightbox.css", :rel => "stylesheet"}/
    / Custom Fonts
    %link{:href => "/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/menu.css'", :rel => "stylesheet"}/
    %script{:src => "/js/jquery1111.min.js", :type => "text/javascript"}
    %script{:src => "/js/script.js"}
  %body
    .wrap-body
      .header
        #cssmenu.align-right
          %ul
            %li.active
              %a{:href => "/index"}
                %span Home
            %li
              %a{:href => "/server"}
                %span Server Status
            %li.last
              %a{:href => "/login"}
                %span Login
      / ////////////////////////////////////Container
      %section.content-box.boxstyle-1.box-3
        .zerogrid
          .row.wrap-box
            / Start Box
            .header.t-center
              .wrapper
                %h2.color-yellow
                  You Searched For: #{@search_query}
                %span
                  :javascript
                    var x='#{@search_query}';
