!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Vulnerable Web-App
    /
      CSS
      \==================================================
    %link{:href => "/css/zerogrid.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/lightbox.css", :rel => "stylesheet"}/
    / Custom Fonts
    %link{:href => "/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/menu.css", :rel => "stylesheet"}/
    %script{:src => "/js/jquery1111.min.js type=", :text => ""}
    %script{:src => "/js/script.js"}
  %body
    .wrap-body
      .header
        #cssmenu.align-right
          %ul
            %li.active
              %a{:href => "/index"}
                %span Home
            %li
              %a{:href => "/server"}
                %span Server Status
            %li.last
              %a{:href => "/login"}
                %span Login
      / ////////////////////////////////////Container
      %section#container
        .wrap-container
          #main-content
            .wrap-content.zerogrid
              .row
                .col-1-2
                  %a{:href => "/index"}
                    %img{:src => "/images/abc.png", :width => "700"}/
                .col-1-2
                  %form#form-container.f-right{:action => "/search"}
                    / <input type="submit" id="searchsubmit" value="" />
                    %a.search-submit-button{:href => "javascript:void(0)"}
                      %i.fa.fa-search
                    #searchtext
                      %input#q{:name => "q", :placeholder => "Search Something...", :type => "text"}/
              .crumbs
                %ul
                  %li
                    %a{:href => "/index"} Home
                  %li
                    %a{:href => "/server"} Server Status
              %article
                .art-header
                  %h1.entry-title Enter the IP and Check if Server is running
                .art-content
                  .wrap-col
                    .contact
                      %h3.color-green{:style => "margin: 20px 0 20px 30px"}
                      #contact_form
                        %form#ff{:action => "/server", :method => "post", :name => "form1"}
                          %label.row
                            %input#server{:name => "server", :required => "required", :type => "text", :value => "#{@server}"}/
                          %center
                            %input.sendButton{:name => "Check", :type => "submit", :value => "Check"}/
                          %pre #{@msg}
